@import "main.scss";

* {
  margin: 0px;
}

form {
  padding: 20px;
  max-width: 570px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button[type="submitt"] {
    align-self: flex-end;
    padding: 5px 10px;
    background: var(--main500);
    color: var(--main50);
    border-radius: 10px;
    border: none;
  }
}

fieldset {
  border: solid var(--main100);
  padding: 5px;
  width: 80vw;
  max-width: 327px;

  legend {
    float: left;
    color: var(--main900);
    font-size: 18px;
  }
}

input {
  border-radius: 5px;
  border: 2px solid var(--main500);
  color: var(--main900);
  padding: 2px 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--main900);

    input {
      max-width: 35em;
    }
  }
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.educationContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.educationField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateInput {
  label {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: end;
    color: var(--main900);
  }
}

.jobContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

.jobField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textAreaInput {
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--main900);
  }
  textarea {
    max-width: 35em;
    width: 100%;
    resize: none;
  }
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.skillField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jobDates {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.addField {
  align-self: flex-end;
  padding: 2px 10px;
  background: var(--main500);
  color: var(--main50);
  border-radius: 10px;
  border: none;
}
.removeField {
  align-self: flex-start;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid var(--main500);
  color: var(--main900);
  font-weight: 600;
}
.errorText {
  color: var(--redText);
}

@media only screen and (min-width: 750px) {
  fieldset {
    width: 327px;
  }
}
