* {
  margin: 0px;
}

form {
  padding: 20px;
  max-width: 570px;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      max-width: 35em;
    }
  }
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.educationContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.educationField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateInput {
  label {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: end;
  }
}

.jobContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

.jobField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textAreaInput {
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  textarea {
    max-width: 35em;
  }
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.skillField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addField {
  align-self: flex-end;
}
.removeField {
  align-self: flex-start;
}
.errorText {
  color: red;
}
